# Compiled
*.elc
*.eln

# local files
.cache/
elpa/
eln-cache/
transient/
tree-sitter/

# Packaging
.cask/
.eask/
.eldev/
.keg/


# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
.aider*
